::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #00ddb3;
  border-radius: 10px;
  cursor: pointer;
}

.scroll-box {
  max-height: 200px;
  overflow-y: auto;
}

.no-scroll-modal {
  overflow: hidden !important;
  padding: 0 !important;
  max-width: 300px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.3);
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.swal2-container {
  z-index: 9999 !important;

  .swal2-html-container {
    margin: 0 !important;
  }

  &.swal2-backdrop-show {
    background: rgba(15, 16, 19, 0.75) !important;
  }

  &.swal2-bottom-end {
    background: transparent !important;
  }
}

.swal2-icon {
  &.swal2-icon-show {
    margin-bottom: 0 !important;
    border: none !important;
  }
}

.swal2-popup {
  &.swal2-modal {
    border: 0.33rem !important;
    border-radius: 0.75rem;
  }

  &.swal2-toast {
    box-shadow: none !important;

    & .swal2-title {
      font-size: 0.85rem !important;
      color: #000000;
    }
  }
}
